.jumbotron {
    position: relative;
    background:none;
  }
  .jumbotron:after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(https://placebear.com/g/900/300);
      background-repeat: no-repeat;
      background-position: center;
    background-size: cover;
      width: 100%;
      height: 100%;
      opacity : 0.2;
      z-index: -1;
  }